* {
  margin: 0;
  padding:0;
  outline: 0;
  border: 0;
}
#dojosurvey {
  position: relative;
  border: 1px solid black;
  width:500px;
  height:100%;
  padding: 20px;
  background-color: lightblue;
}
#dojosurvey form{
  display: inline-block;
  width: 125px;
  
}
h2 {
  text-decoration: underline;
  margin-bottom: 15px;
}
#dojosurvey p {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

#errors {
  text-align: center;
}
#dojosurvey #errors p {
  color: red;
  padding: 0;
}

#dojosurvey #errors p:last-of-type {
  margin-bottom: 20px;
}
form {

}
form label {
  display: inline-block;
  margin-top: 10px;
}
form input,  form select  {
  padding: 10px;
  display: inline-block;
  border: 1px solid black;
}
form input[type=submit] {
  bottom: 15px;
  left: 78%;
  padding: 10px;
  color: white;
  background-color: teal;
  transition: background-color 0.5s;
}
form input[type=submit]:hover {
  cursor: pointer;
  background-color: black;
  display: inline;
}
textarea{
  /*padding: 20px;*/
  width: 300px
}