
*{
    padding:0px;
    margin:0px;
    font-family: arial;
}
#container{
    margin:100px auto;
    display:block;
    padding:10px;
    width:500px;
    height:300px;
    text-align: center;
}
p{
    padding:10px;
    margin:10px;
    text-align: center;
}
#answerbox{
    text-align: center;
    border:1px solid black;
    height:200px;
    width:200px;
    margin: 20px 10px 10px 140px;
}

.red{
  background-color: red;
  height:180px;
  width:200px;
  color:white;
  padding-top: 20px;

}

.green{
  background-color: green;
  height:180px;
  width:200px;
  color:white;
  padding-top: 20px;
  }


a{
    border:1px solid black;
    border-radius: 10px;
    background-color: #eee;
    text-decoration: none;
    margin:3px;
    padding:5px;
    color:blue;
}
