*{
    padding:0px;
    margin:0px;
    font-family: arial;
}
#container{
    margin: 0px auto;
    width:900px;

}
#header{
    height:50px;
    padding:10px;
    display:block;
}
span{
    border: 2px solid black;
    height:20px;
    padding:5px;
    margin:10px;
}
.box{
    height:170px;
    width:20%;
    margin:9px;
    padding:9px;
    border: 2px solid black;
    display:inline-block;
    text-align: center;
}
p{
    padding:10px 5px 10px 5px;
}
#footer{
    height:200px;
    margin-top: 20px;
    overflow:scroll;
    border: 2px solid black;


}
input{
    width:90px;
    padding:10px;
    margin:10px;
    border:2px solid black;
}
.green{
    color:green;
}
.red{
    color:red;
}
