<!doctype html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
	<div id="wrapper">
		

		<div id="log">
			<h1>Login</h1>
			<form action="/login" method="POST">
				<label>Email<input type="email" name="email"></label>			
				<label>Password <input type="password" name="password"></label>						
				<label><input id= "login" class ="button"  type="submit" name="submit" value ="Login">	</label>		
			</form>

			<form id = "register" action ="/register">
			<label>First time users please register here
			<input  id = "reg" class ="button" type="submit" name ='Register' value='Register'></label> 
			</form>		

			<div id="errors">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			</div>
		</div>
		
	 </div>
</body>
</html>