* {
	font-family: Verdana sans-serif;
}

input {
	display: block;
}

#container {
	width: 600px;
	margin: 0 auto;
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 20px;
	padding: 40px;
}