form {
	display: inline-block;
	margin-bottom: 0 !important;
}
	form input.link {
		margin-bottom: 0;
		padding: 0 10px 0 0;
		border: none;
		text-transform: none;
		text-decoration: underline;
		text-align: left;
		font-size: 1em;
		line-height: 1;
		font-weight: 400;
		color: blue;
		height: auto;
	}

p {
	margin: 0 !important;
}

.divider {
	display: inline-block;
	border-right: 1px solid black;
	line-height: 1;
	margin-top: 2em;
}

.error {
	color: red;
}