*{
    margin:0px;
    padding:0px;
    font-size: 20px;
    font-family: arial;
}
#container{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding:5px;
    margin: 0px auto;
    margin-top: 100px;
    background-color: #eee;
}
label{
    display:block;
    padding: 20px;

}
label input{
    margin-left: 30px;
}
label select{
    width:180px;
    float:right;
}
#comment{
    height:100px;
    width:350px;
    border:1px solid black;
    background-color: white;
    display:block;
    margin-left: 20px;
}
#submit{
    background-color: turquoise;
    color:white;
    padding:5px 10px;
    margin:5px 10px;
    margin-left: 270px;
    display:block;

}
