*{
    margin:0px;
    padding:0px;
    font-size: 20px;
    font-family: arial;
}
#container{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding:5px;
    margin: 0px auto;
    margin-top: 100px;
    background-color: #eee;
}
h3{
    margin-top: 10px;
    text-decoration: underline;
}
p{
    display:block;
    margin:10px;
    padding:10px;
}
