<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About Ninjas</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<div id="container">
		<h1>About Ninjas</h1>
		<p>Ninjas (or shinobi) were spies and mercenaries in feudal Japan. They have acquired legendary status in the West, particularly because they show up frequently in 19th century Japanese folklore.</p>
		<p>Look, if you want more info about ninjas, just go to the <a href="https://en.wikipedia.org/wiki/Ninja">wikipedia page</a>. That's where I'm getting all this from anyway.</p>
	</div>
</body>
</html>