<html>
<head>
    <meta charset="utf-8">
    <title>Coding Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"></head>
<body>
    <div id="container">
        <form action='/results' method='post'>
            <label>Your Name: <input type='text' name='name'>{{session['name_len']}}
            </label>
            <label>Dojo Location:
                    <select name='location'>
                        <option value= "Dallas">Dallas</option>
                        <option value= "San Jose"> San Jose </option>
                    </select>
            </label>
            <label>Favorite Lanugage:
                    <select name= 'language'>
                        <option value="Python"> Python</option>
                        <option value="CSS"> CSS </option>
                        <option value= "HTML"> HTML </option>
                        <option value="JavaScript"> Javascript</option>
                    </select>
            </label>
            <label >Comment (optional) </label><input id="comment" type="text" name="comment">{{session['comment_len']}}

            <input id="submit" type="submit" Value="Button">


        </form>
    </div>
</body>
</html>
