* {
	margin: 0;
	padding: 0;
	font-family: calibri;
}
#wrapper {
	width: 100%;
	margin: 0 auto;

}
#top {
	background-color: dodgerblue;
	overflow: hidden;
	
}
h1 {	
	display: inline-block;
	padding: 5px;
	color: white;
	margin-top: 0;
}
#headings {
	width: 90%;
	float: left;
} 
#m1 {
	margin-left: 30px;
}
#m2 {
	float: right;	
}
#top form{
	/*display: inline-block;*/
	margin: 5px 30px 5px 5px;
}
.button{	
	border: none;	
	margin:0 5px ;
	font-weight: bold;
	padding: 2.5px;
	border-radius: 5px;
	
}
#post , #wall{
	width: 80%;
	margin: 10px auto;
	overflow: hidden;	
}
#mBox {
	width: 100%;
	margin: 10px auto;
	box-sizing: border-box;
	height: 100px;
	font-size: 1em;
	border-radius: 5px;
}

input {
	float: right;
}
#message {
	margin: 0 5px;
	overflow: hidden;
}
#comment {
	width: 98%;
	float: right;
	/*margin-top: 10px;	*/
}
#cBox {
	width: 100%;
	margin: 10px auto;
	box-sizing: border-box;	
	font-size: 1em;
	border-radius: 5px;
}
p{
	margin-bottom: 10px;
}