<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Email Validation</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				{% with messages = get_flashed_messages(category_filter=['success']) %}
					{% if messages %}
						{% for message in messages %}
							<p class="bg-success text-center">{{message}}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<h1>Email Addresses Entered:</h1>
				<table class="table">
					{% for entry in email_addresses %}
					<tr>
						<td>{{ entry['email'] }}</td>
						<td>{{ entry['created_at'] }}</td>
						<td>
							<form action="/process" method="post">
								<input type="hidden" name="action" value="delete">
								<input type="hidden" name="email" value="{{ entry['email'] }}">
								<input type="submit" class="btn btn-danger" value="Delete">
							</form>
						</td>
					</tr>
					{% endfor %}
				</table>
				<form action="/">
					<input class="btn btn-primary" type="submit" value="Return to Entry">
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</body>
</html>