<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Users Index</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h1>User {{ user['id'] }}</h1>
				<p>Full Name: {{ user['full_name'] }}</p>
				<p>Email: {{ user['email'] }}</p>
				<p>Created at: {{ user['created_at'] }}</p>
				<div class="divider">
					<form action="/users/{{ user['id'] }}/edit">
						<input class="link" type="submit" value="Edit">
					</form>
				</div>
				<div class="divider">
					<form action="/users/{{ user['id'] }}/destroy" method="get">
						<input class="link" type="submit" value="Delete">
					</form>
				</div>
					<form action="/users" method="GET">
						<input class="link" type="submit" value="All Users">
					</form>
			</div>
		</div>
	</div>
</body>
</html>