<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Full Friends</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row text-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class='flashes'>
                    {% for category, message in messages %}
                        <li style="color: {{ category }};">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-4 col-md-offset-4 text-center">
                <form action='/friends' method='POST'>
                    <div class="row">
                        <div class="col-md-6"><label for="first_name">First Name:</div>
                        <div class="col-md-6"><input type="text" name="first_name" class='form-control'></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label for="last_name">Last Name:</div>
                        <div class="col-md-6"><input type="text" name="last_name" class='form-control'></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label for="occupation">Occupation:</div>
                        <div class="col-md-6"><input type="text" name="occupation" class='form-control'></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right">ADD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style='margin-top: 25px;'>
            <div class="col-md-6 col-md-offset-3 tble-striped">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Occupation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in all_friends: %}
                            <tr>
                                <td>ID: {{ friend['id'] }}</td>
                                <td>First Name: {{ friend['first_name'] }}</td>
                                <td>Last Name: {{ friend['last_name'] }}</td>
                                <td>Occupation: {{ friend['occupation'] }}</td>
                                <td>
                                    <form action="/friends/{{ friend['id'] }}/edit">
                                        <input type="submit" value="edit" class='btn btn-info'>
                                    </form>
                                </td>
                                <td>
                                    <form action="/friends/{{ friend['id'] }}/delete" method='post'>
                                        <input type="submit" value="delete" class='btn btn-warning'>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
