<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Survey Form</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
	<div id="container">
		<form action="/process" method="post">
			<div id="labels">
				<label for="name">Your Name:</label>
				<label for="location">Dojo Location:</label>
				<label for="language">Favorite Language:</label>
			</div><!--
			--><div id="inputs">
				<input type="text" name="name" id="name">
				<select name="location" id="location">
					<option value="Mountain View">Mountain View</option>
					<option value="Dallas">Dallas</option>
					<option value="New York">New York</option>
					<option value="Los Angeles">Los Angeles</option>
				</select>
				<select name="language" id="language">
					<option value="Python">Python</option>
					<option value="Javascript">Javascript</option>
					<option value="Ruby">Ruby</option>
					<option value="Node">Node</option>
				</select>
			</div>
			<label for="comment">Comment (optional):</label>
			<textarea id="comment" name="comment"></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>