<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Admin Dashboard</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- My files -->
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script type="text/javascript" src="/static/js/scripts.js"></script>

	<!--jQuery Alertify -->
	<link rel="stylesheet" type="text/css" href="/static/css/alertify.core.css">
	<link rel="stylesheet" type="text/css" href="/static/css/alertify.bootstrap.css">
	<script type="text/javascript" src="/static/js/alertify.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Test App</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/dashboard/admin">Dashboard</a></li>
					<li><a href="/users/edit">Profile</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logoff">Log off</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Manage Users</h1>
			</div>
			<div class="col-md-6">
				<p class="text-right"><a href="/users/new" class="btn btn-primary">Add new</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Created At</th>
							<th>User Level</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user['id'] }}</td>
								<td><a href="/users/show/{{ user['id'] }}">{{ user['first_name'] }} {{ user['last_name'] }}</a></td>
								<td>{{ user['email'] }}</td>
								<td>{{ user['created_at'] }}</td>
								<td>{{ user['user_level'] }}</td>
								<td>
									<a href="/users/edit/{{ user['id'] }}">edit</a>
									<a href="#" url="/admin/destroy/{{ user['id'] }}" class="remove">remove</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>