<!doctype=html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Registration Form</title>
</head>
<body>
    <div id="container">
        <div id="content">

            <h1>Registration Form</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action="/results">
                <label>Email:<input type="text" name="email"></label>
                <label>First Name:<input type="text" name="first_name"></label>
                <label>Last Name:<input type="text" name="last_name"></label>
                <label>Password:<input type="password" name="password"></label>
                <label>Confirm Password:<input type="password" name="confirmpassword"></label>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
<html>
