<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Success!</title>
</head>
<body>

    <div id='container'>

        <div id='green'>
            <p>The email address you entered is a valid email address! Thank you!</p>
        </div>
        <h3>Email Addresses Entered: </h3>
        {% for email in all_email %}
           <p> {{ email['email'] }} &nbsp; {{ email['created_on'] }}</p>
           <hr>
        {% endfor %}
</body>
</html>
