<!DOCTYPE html>
<html>
<head>
  <title>Login and Registration</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<div id="wrapper">
    <div id="container">   
         <div id=register">
            <h2> Register For Your New Account</h2>
        <form action="/create" method='POST'> 
            <label for='first_name'> <input type='text', name='first_name', value="First Name"/></label>
            <label for='last_name'> <input type='text', name='last_name', value="Last Name"/></label>
            <label for='email'> <input type='text', name='email', value="Email"/></label>
            <label for='password'> <input type='text', name='password', value="Password"/></label>
            <label for='password2'> <input type='text', name='password2', value="Confirm Password"/></label>
            <input type="submit" name='submit' value='Submit'>
        </form>      
         </div>
   
    </div>

</div>




</body>
</html>