<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login and Registration Demo</title>
	<!-- skeleton cdn -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
	<div class="container">
		<section class="header">
			<h1>Login and Registration</h1>
		</section>
		<div class="row">
			<div class="twelve columns">
				<h3>Login:</h3>
			</div>
		</div>
		<form action="/process" method="POST">
			<input type="hidden" name="action" value="login">
			<div class="row">
				<div class="six columns">
					<label for="login_email">Email:</label>
					<input class="u-full-width" type="email" name="login_email" id="login_email">
					{% with errors = get_flashed_messages(category_filter=["login_email"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
				<div class="six columns">
					<label for="login_password">Password:</label>		
					<input class="u-full-width" type="password" name="login_password" id="login_password">
					{% with errors = get_flashed_messages(category_filter=["login_password"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}	
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<input class="button-primary u-pull-right" type="submit" value="Login">
				</div>
			</div>
		</form>
		<div class="row">
			<div class="twelve columns">
				<h3>Register:</h3>
			</div>
		</div>
		<form action="/process" method="POST">
		<input type="hidden" name="action" value="register">
			<div class="row">
				<div class="six columns">
					<label for="reg_fname">First name:</label>
					<input class="u-full-width" type="text" name="reg_fname" id="reg_fname">
					{% with errors = get_flashed_messages(category_filter=["reg_fname"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}	
				</div>
				<div class="six columns">
					<label for="reg_lname">Last name:</label>
					<input class="u-full-width" type="text" name="reg_lname" id="reg_lname">
					{% with errors = get_flashed_messages(category_filter=["reg_lname"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}	
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<label for="reg_email">Email:</label>
					<input class="u-full-width" type="email" name="reg_email" id="reg_email">
					{% with errors = get_flashed_messages(category_filter=["reg_email"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}	
				</div>
			</div>
			<div class="row">
				<div class="six columns">
					<label for="reg_password">Password:</label>		
					<input class="u-full-width" type="password" name="reg_password" id="reg_password">
					{% with errors = get_flashed_messages(category_filter=["reg_password"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}	
				</div>
				<div class="six columns">
					<label for="reg_password_confirm">Repeat password:</label>
					<input class="u-full-width" type="password" name="reg_password_confirm" id="reg_password_confirm">
					{% with errors = get_flashed_messages(category_filter=["reg_password_confirm"]) %}
						{% if errors %}
							{% for msg in errors %}
								<span style="color: red">{{ msg }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<input class="button-primary u-pull-right" type="submit" value="Register">
				</div>
			</div>
		</form>
	</div>
</body>
</html>