<!DOCTYPE html>
<html>
<head>
	<title>Full Friend</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
	<form action='/create' method='POST'>
		<h2>Became friend at {{ friend['create_at'] }}</h2>
	    <label>First Name:<input type="text" name="first_name" value="{{ friend['first_name'] }}"/></label>
	    <label>Last Name:<input type="text" name="last_name" value="{{ friend['last_name'] }}"/></label>
	    <label>Email:<input type="text" name="email" value="{{friend['email'] }}" /></label>
	    <input type="submit" value="update!"/>
  	</form>
</body>
</html>
